{% extends 'base.html' %}
{% block content %}
<!-- edit_qr_code.html -->
    <style>
        h2 {
            width: 100%;
            text-align: center;
            padding-top: 50px;
        }
        .formulaire {
            border: 1px solid darkgrey;
            margin: 0 auto;
            width: 50%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;
            border-radius: 15px;
        }
        #id_original_link {
            padding: 10px 5px;
            border: none;
            border-bottom: 1px solid darkgrey;
            width: 100%;
        }
        form {
            width: 100%;
        }
        .btn {
            background-color: black;
            color: white;
            transition: all .2s;
            margin: 0 5px;
        }
        .btn:hover {
            color: white;
            transform: scale(1.1);
        }
        .cancel-edit:hover {
            background-color: darkred;
        }
        .save-btn:hover {
            background-color: forestgreen;
        }
        .blackbar {
            position: fixed;
            top: 0;
            height: 50px;
            width: 100%;
            background-color: #2c2c2c;
        }
        @media only screen and (max-width: 600px) {
            .formulaire {
                width: 95%;
            }
        }
    </style>
    <div class="blackbar"></div>
    <h2>Edit QR Code</h2>
    <div class="formulaire">
        <form method="post" action="{% url 'edit_qr_code' qr_code.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="edit">
            {{ form.as_p }}
            <button type="submit" class="btn save-btn">Save Changes</button>
            <a href="{% url 'my_qr_codes' %}" class="cancel-edit btn">Cancel</a>
        </form>
    </div>
{% endblock %}