{% extends 'base.html' %}
{% block content %}
    <style>
    h1 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 32px;
        margin-top: 30px;
    }
    .container {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .qrcode {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 320px;
        overflow-x: hidden;
        border: 1px solid darkgrey;
        border-radius: 15px;
        margin-bottom: 25px;
        transition: all .2s;
    }
    .qrcode:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    .code {
        border-radius: 15px;
        cursor: pointer;
    }
    .more {
        background-color: #EAD7BB;
        border-radius: 10px;
        color: #113946;
        display: block;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        padding: 0 15px;
        transition: all .3s;
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }
    .more:hover {
        transform: scale(1.1);
        color: #113946;
    }
    .btn {
        color: #113946;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 10px;
        background-color: #EAD7BB;
        transition: all .2s;
        margin: 5px;
    }
    .btn:hover {
        transform: scale(1.1);
        color: white;
        font-weight: bold;
    }
    .delete-button:hover {
        background-color: #ce0000;
    }
    .save-button:hover {
        background-color: #009a08;
    }
    .btns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .lien  {
        min-width: 100%;
        text-align: center;
    }

    /* Add your styles for the modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Style for the close button */
    .close {
        position: absolute;
        top: 80px;
        right: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    /* Style for the modal image */
    #modalImage {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        max-height: 80%;
    }

    /* Add more styles as needed for your modal */

    @media only screen and (max-width: 600px) {
        .container {
            width: 100%;
        }
        .blackbar {
            position: fixed;
            top: 0;
            height: 50px;
            width: 100%;
            background-color: #2c2c2c;
        }
        .modal {
            padding-top: 50%;
        }
        .close {
            top: 18%;
        }
    }
    </style>
    <div class="blackbar"></div>
    <h1>Mes QR Codes</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if qr_codes %}
        <div class="container">
            {% for qr_code in qr_codes %}
                <div class="qrcode">
                    <img src="{{ qr_code.image.url }}" alt="{{ qr_code.original_link }}" width="300" height="300" class="code">
                    <p class="lien">{{ qr_code.original_link }}</p>
                    <div class="btns">
                        <a href="{% url 'edit_qr_code' qr_code.id %}" class="edit-button btn"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" action="{% url 'delete_qr_code' qr_code.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="delete" class="delete-button btn"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        <a href="{{ qr_code.image.url }}" download="{{ qr_code.original_link }}.png" class="btn save-button"><i class="fa-solid fa-floppy-disk"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No QR codes found for your profile.</p>
    {% endif %}
    <div id="qrModal" class="modal">
        <span class="close" id="closeModal">&times;</span>
        <img id="modalImage" src="" alt="QR Code">
    </div>

    <br>
    <a href="/" class="more">Créer un nouveau QR Code</a>
    <script>
        $(document).ready(function () {
            // Open the modal when a .qrcode div is clicked
            $('.code').on('click' , function () {
                // Get the QR code image source and original link
                var qrCodeImageSrc = $(this).attr('src');
                var originalLink = $(this).find('.lien').text();

                // Update the modal image and open the modal
                $('#modalImage').attr('src', qrCodeImageSrc);
                $('#qrModal').css('display', 'block');
            });

            // Close the modal when the close button is clicked
            $('#closeModal').on('click', function () {
                $('#qrModal').css('display', 'none');
            });
            $('#qrModal').on('click', function() {
                $(this).css('display', 'none');
            })
        });

    </script>
{% endblock %}