{% extends 'registration/base.html' %} {% block content %}
<section>
  {% block navbar %}
    {% include 'menu.html' %}
{% endblock %}
<style>
    .container {
        margin-top: 150px;
        border: 1px solid #b4b4b4;
        border-radius: 20px;
        width: 40% !important;
    }

    .input-container {
        width: 80%;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        width: 100%;
    }
    .btn {
        background-color: #EAD7BB;
        color: #113946;
        transition: all .2s;
    }

    .btn:hover {
        transform: scale(1.1);
    }
</style>
  <div class="container" style="padding-top: 50px">
        <h1>Register</h1>
    <div class="row">
      <div class="input-container">
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}{% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            <input
              type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
              name="{{ field.html_name }}"
              class="form-control"
              maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
              id="{{ field.id_for_label }}"
              required
            />
          </div>
          {% if field.errors %} {% for error in field.errors %}
          <p style="font-size: 13px;">
            {{ error|escape }}
          </p>
          {% endfor %} {% endif %} {% endfor %}
          <button type="submit" class="btn mt-2">Register</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}