<style>
    li a {
        color: #113946!important;
    }
    li a i {
        font-size: 24px;
        margin-left: 10px;
    }
    .right {
        position: absolute;
        right: 10px;
        width: 240px;
    }
    .profile-r {
        width: 110px;
        right: 120px;
    }
    .profile-r li {
        width: 100%!important;
    }
    .right li {
        width: 45%;
        display: inline-block;
    }
    .fixed-top {
        position: absolute!important;
    }
    #switch {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 9999;
    }
    .logout {
        position: absolute;
        right: 10px;
    }
    #navbarNav {
      background-color: #EAD7BB!important;
    }
    .nav-link {
        display: flex;
        align-items: center;
        transition: all .3s;
    }
    .nav-link:hover {
        transform: scale(1.1);
    }
    .nav-link i {
        margin-right: 5px;
    }
    .nav-link img {
        margin-right: 5px;
    }
    .logo-xs {
        max-width: 24px;
    }
    .centerdiv {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }
    .centerdiv img {
        height: 40px;
    }
    @media only screen and (max-width: 600px) {
        body {
            padding-top: 0;
        }
        #switch {
            display: block;
        }
        #switch i {
            font-size: 24px;
            color: #113946;
        }
        #navbarNav {
            height: 100vh;
            position: fixed!important;
            display: none;
            padding: 0;
        }
        .navbar {
            height: 100vh;
        }
        .navbar ul {
            height: 100vh;
            padding-top: 50%;
        }
        .navbar ul li {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
            display: flex;
        justify-content: center;
        }
        .right {
            position: unset;
            margin: 0 auto;
        }
        .logout {
            position: unset;
        }
    }
</style>
<div class="toggleButton" id="switch">
    <i class="fa-solid fa-bars"></i>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" id="navbarNav" style="width: 100%">
    <div class="navbar" style="width: 100%">
        <ul class="navbar-nav" style="width: 100%">
             <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> Accueil</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_qr_codes' %}"><img src="/media/logo-xs.png" alt="tiny qrcode logo" class="logo-xs"> My codes</a>
                </li>
                <li class="nav-item logout">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                </li>
                <div class="right profile-r">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Profile</a>
                    </li>
                </div>
                <div class="centerdiv">
                    <img src="/media/logo-big.png" alt="logo complet de QRMotion">
                </div>
            {% else %}
                <div class="right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i> Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                </div>

            {% endif %}
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function() {
        $("#switch").click(function() {
            $("#navbarNav").toggle();
        });
    });
</script>